body{
    text-align: center;
    background-color: green;
    background-image:  url("card6.jpg");
   
    background-size: cover;

}
h1{
color: goldenrod;
font-size: 60px;
}
h2{
    color: rgb(250, 255, 248);
    
}


span{
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 254, 254);
}

button{
    margin-top: 22px;
    margin-bottom: 26px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    color: #016f32;
    background-color: goldenrod;
    
}
